.wrap-gallery {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
  background-color: rgba($color-black, 0.5);
}

.image-gallery {
  position: fixed;
  height: pxToRem(700);
  width: pxToRem(1200);
  margin-top: pxToRem(10);
  background-color: rgba($color-black, 0.5);
  z-index: 9999;
  top: 47%;
  left: 50%;
  @include transform-translate(-50%, -50%);

  .image-gallery-content {

    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
      width: 60px;
      height: 60px;
    }

    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: pxToRem(20);
    top: 40%;
    left: 50%;
    position: absolute;
    @include transform-translate(-50%, -50%);

    .image-gallery-slide-wrapper {
      background-color: $bg-light12;
      box-shadow: 0 pxToRem(3) pxToRem(30) 0 rgba(0, 0, 0, 0.16);
      border-top-left-radius: pxToRem(20);
      border-top-right-radius: pxToRem(20);


      * {
        border-top-left-radius: pxToRem(20);
        border-top-right-radius: pxToRem(20);
      }
    }

    .image-gallery-swipe {
      img {
        border-top-left-radius: pxToRem(20);
        border-top-right-radius: pxToRem(20);
      }
    }

    .image-gallery-thumbnails-wrapper {
      padding: pxToRem(30);
      background-color: $bg-light12;
      border-bottom-left-radius: pxToRem(20);
      border-bottom-right-radius: pxToRem(20);
      box-shadow: 0 pxToRem(3) pxToRem(30) 0 rgba(0, 0, 0, 0.16);

      .image-gallery-thumbnail {
        width: pxToRem(150);
        margin-right: pxToRem(5);
        border-radius: pxToRem(10);
        background-color: $white;

        * {
          border-radius: pxToRem(8);
        }
      }
    }
  }
}