.input__box {
  text-align: left;

  .css-1pahdxg-control {
    min-height: auto;
    max-height: initial;
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;

    * {
      background-color: transparent;
    }
  }
}
.css-tlfecz-indicatorContainer {
  max-height: pxToRem(35);
}

.css-4ljt47-MenuList {
  padding: 0 !important;
  font-size: pxToRem(16) !important;
}

.css-9gakcf-option {
  background-color: $athens-gray-2 !important;
  color: $color-border-active !important;
  border-top: pxToRem(1) solid $color-border;
  border-bottom: pxToRem(1) solid $color-border;
  font-weight: $medium;
  padding: pxToRem(8) pxToRem(17) !important;
  letter-spacing: pxToRem(-0.33);

  &:nth-child(1) {
    border-top: 0;
  }
}

.css-9gakcf-option:active {
  background-color: $athens-gray-2;
}

.css-yt9ioa-option,
.css-1n7v3ny-option {
  padding: pxToRem(8) pxToRem(17) !important;
  letter-spacing: pxToRem(-0.33);
}

.css-1n7v3ny-option {
  background-color: transparent !important;
}

.css-4ljt47-MenuList {
  max-height: pxToRem(220) !important;
}
