.session-slide {
  height: pxToRem(680);
  background-position: center center;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    opacity: 0.49;
    background-color: $bg-black;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 0;
  }

  .slide-info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    z-index: 1;
    @include transform-translate(-50%, -50%);

    .title-slide {
      font-size: pxToRem(50);
      font-weight: 500;
      line-height: 1.22;
      text-align: center;
      color: $white;
    }
  }
}

.session-promotions {
  padding: pxToRem(75) pxToRem(30);

  .slide-promotions {
    padding: pxToRem(20) pxToRem(55);
position: relative;
    .swiper-wrapper {
      .swiper-slide {
        padding: 10px;
      }

      .slide-content {
        border-radius: pxToRem(20);
        box-shadow: 0 pxToRem(3) pxToRem(6) 0 rgba(0, 0, 0, 0.16);
        padding-bottom: pxToRem(40);
        text-align: center;

        .bg-image {
          background-color: $bg-light;
          border-top-right-radius: pxToRem(20);
          border-top-left-radius: pxToRem(20);
          height: pxToRem(360);
          background-position: center center;
          background-size: cover;
        }

        h3 {
          margin: pxToRem(20) pxToRem(15);
          font-size: pxToRem(25);
          line-height: 1.2;
          letter-spacing: pxToRem(0.63);
          opacity: 0.8;
          color: $color-black;
          text-align: center;
        }

        button {
          min-width: pxToRem(180);
          margin: auto;
          border-radius: pxToRem(10);
        }
      }
    }
  }
}