.page-client {
  .bg-page-title {
    height: pxToRem(700);
    background-position: center center;
    background-size: cover;
  }

  .container {
    padding-top: pxToRem(100);
    padding-bottom: pxToRem(100);
  }

  .page-title {
    height: pxToRem(74);
    @include bgMain();
    text-align: center;
    border-radius: pxToRem(10);
    margin-bottom: pxToRem(90);
    padding: pxToRem(10);
    font-size: pxToRem(40);
    font-weight: bold;
    line-height: 1.4;
    color: $white;
  }

  .no-data {
    text-align: center;
    font-size: pxToRem(30);
    color: $color-light1;
  }
}

.wrap-slide {

  .item-client {
    display: flex;
    align-items: center;
    border-radius: pxToRem(20);
    box-shadow: 0 pxToRem(3) pxToRem(10) 0 rgba(0, 0, 0, 0.16);
    @include transition(0.3s all);
    border: pxToRem(4) solid transparent;
    margin-bottom: pxToRem(34);

    &:hover {
      border-color: $bg_main;
    }

    .item-image {
      width: pxToRem(375);
      min-height: pxToRem(375);
      background-color: $btn-color;
      background-position: center center;
      background-size: cover;
      border-top-left-radius: pxToRem(20);
      border-bottom-left-radius: pxToRem(20);
    }

    .item-content {
      padding: pxToRem(45);
      width: calc(100% - #{pxToRem(375)});

      .title {
        font-size: pxToRem(30);
        font-weight: bold;
        line-height: 1.23;
        margin-bottom: pxToRem(10);
        color: $bg_main;
        text-transform: uppercase;
      }

      .date {
        font-size: pxToRem(18);
        font-weight: normal;
        font-stretch: condensed;
        font-style: italic;
        line-height: 1.22;
        letter-spacing: pxToRem(0.36);
        color: $color_black
      }

      .desc {
        margin-top: pxToRem(20);
        font-size: pxToRem(20);
        font-weight: normal;
        font-style: italic;
        line-height: 1.5;
      }

      label {
        font-size: pxToRem(25);
        font-weight: 500;
        color: $color_black;
        line-height: 1.2;
        letter-spacing: pxToRem(0.5);
        margin-bottom: pxToRem(13);
      }

      .company-name {
        margin-bottom: pxToRem(30);
      }

      .location,
      .information {
        margin-bottom: pxToRem(30);

        .desc {
          margin-top: 0;
          font-size: pxToRem(25);
          font-weight: 500;
          font-style: normal;
          line-height: 1.24;
          color: $bg-main;
        }
      }

      .information {
        li {
          height: pxToRem(34);
          padding: pxToRem(6) pxToRem(10);
          background-color: $bg-light11;
          font-size: pxToRem(17);
          font-weight: bold;
          color: $white;
          line-height: 1.3;
          border-radius: pxToRem(20);
          margin-right: pxToRem(10);
        }
      }
    }

    .row-right {
      display: inline-block;
      text-align: right;
      float: right;
      margin-top: pxToRem(30);

      img {
        max-width: pxToRem(49);
      }
    }
  }
}

.wrapper-pagination {

  .pagination {
    padding: 0;
    justify-content: center;
    margin-top: pxToRem(90);

    .page-item {
      height: pxToRem(32);
      min-height: 32px;
      min-width: 32px;
      font-size: pxToRem(15);
      line-height: 2;
      text-align: center;
      font-weight: 500;
      color: $color-light1;
      border: solid pxToRem(1) $bg-light5;
      box-shadow: pxToRem(6) pxToRem(6) pxToRem(6) 0 rgba(0, 0, 0, 0.23);

      &:first-child {
        border-top-left-radius: pxToRem(6);
        border-bottom-left-radius: pxToRem(6);
      }

      &:last-child {
        border-top-right-radius: pxToRem(6);
        border-bottom-right-radius: pxToRem(6);

        a {
          color: $bg_main;
        }
      }

      &.active {
        a {
          background-color: $bg_main;
          color: $white;
        }
      }

      a {
        outline: none;
        padding: 0;
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: pxToRem(15);
        text-align: center;
        color: $color-light1;
        padding: pxToRem(7) pxToRem(9);
        border: 0;

        &:focus {
          border: 0;
          box-shadow: none;
        }

        &:hover {
          background-color: $bg_main;
          color: $white;
        }
      }
    }
  }
}

.custom-container {
  padding-left: pxToRem(128);
  padding-right: pxToRem(128);
  margin: auto;
}

.detail {
  .bg-page-title {
    position: relative;
  }

  .detail-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: pxToRem(43) pxToRem(128) pxToRem(25) pxToRem(128);
    @include bgMain2();

    .detail-title {
      font-size: pxToRem(50);
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      max-width: pxToRem(1170);
      color: $white;
    }

    ul {
      display: flex;
      margin-top: pxToRem(10);
      align-items: center;

      li {
        font-size: pxToRem(25);
        font-weight: normal;
        line-height: 1.2;
        text-align: left;
        color: $white;
        @include transition(0.3s all);

        &.link {
          &:hover {
            color: $bg_main;
          }
        }

        &.sub-title {
          text-transform: lowercase;
          max-width: pxToRem(450);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .line {
        padding: 0 pxToRem(8);
      }
    }
  }

  .content-detail {
    padding: pxToRem(50) 0;

    p {
      font-size: pxToRem(20);
      font-weight: normal;
      font-style: normal;
      line-height: 1.5;
      color: $color_black;
      margin-bottom: pxToRem(25);
    }

    img {
      margin: auto;
    }

    span {
      font-size: pxToRem(15);
      display: block;
      font-style: italic;
      line-height: 2;
      margin-bottom: pxToRem(25);
      text-align: center;
    }
  }

  img {
    width: 100%;
  }

  .recent-post {
    margin-top: pxToRem(70);

    h3 {
      font-size: pxToRem(30);
      font-weight: bold;
      line-height: 1.2;
      display: inline-block;
      color: $bg_main;
      padding-bottom: pxToRem(10);
      border-bottom: pxToRem(5) solid $bg-main;
      margin-bottom: pxToRem(25);
    }

    ul {
      li {
        font-size: pxToRem(20);
        font-weight: 500;
        line-height: 1.3;
        color: $color_black;
        margin-bottom: pxToRem(8);

        &:hover {
          color: $bg-main;
        }
      }
    }
  }

  .list-category {
    border-radius: pxToRem(10);
    box-shadow: 0 pxToRem(3) pxToRem(6) 0 rgba(0, 0, 0, 0.16);
    border: solid pxToRem(1) $color-border;
    background-color: $bg-footer;
    margin-left: pxToRem(50);

    h3 {
      padding: pxToRem(18) pxToRem(44);
      @include bgMain();
      color: $white;
      text-transform: uppercase;
      font-size: pxToRem(30);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      border-top-left-radius: pxToRem(11);
      border-top-right-radius: pxToRem(11);
    }

    ul {
      padding: pxToRem(30) pxToRem(43);

      li {
        padding: pxToRem(15) 0;
        font-size: pxToRem(25);
        font-weight: 500;

        line-height: 1.2;

        a {
          color: $bg-main;

          &:hover {
            color: $color_black;
          }
        }
      }
    }
  }
}


@include breakpoint(sm992) {

  .container {
    padding-left: pxToVW(23);
    padding-right: pxToVW(23);
  }

  .page-client {
    .bg-page-title {
      height: pxToVW(270);
      min-height: 220px;
    }

    .container {
      padding-top: pxToRem(100);
      padding-bottom: pxToRem(100);
    }

    .page-title {
      height: pxToVW(40);
      border-radius: pxToVW(6);
      margin-bottom: pxToVW(21);
      padding: pxToVW(6);
      font-size: pxToVW(20);
    }

    .no-data {
      font-size: pxToVW(3020);
    }
  }



  .wrap-slide {
    .list-client {

      display: flex;
      flex-wrap: wrap;
      margin-right: pxToVW(-8);
      margin-left: pxToVW(-8);

    }

    .item-client {
      display: block;
      width: 46%;
      height: pxToVW(270);
      border-radius: pxToVW(10);
      box-shadow: 0 pxToVW(3) pxToVW(10) 0 rgba(0, 0, 0, 0.16);
      border: pxToVW(2) solid transparent;
      margin-bottom: pxToVW(34);
      flex: 0 0 46%;
      max-width: 46%;
      margin: pxToVW(7);

      .item-image {
        width: 100%;
        min-height: pxToVW(152);
        border-top-left-radius: pxToVW(10);
        border-bottom-left-radius: 0;
        border-top-right-radius: pxToVW(10);
      }

      .item-content {
        padding: pxToVW(6) pxToVW(10);
        width: 100%;

        .title {
          font-size: pxToVW(10);
          margin-bottom: pxToVW(8);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          height: pxToVW(23);
        }

        .date {
          font-size: pxToVW(8);
          letter-spacing: pxToVW(0.36);
        }

        .desc {
          margin-top: pxToVW(8);
          font-size: pxToVW(10);

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          height: pxToVW(30);
        }

        label {
          font-size: pxToVW(15);
          letter-spacing: pxToVW(0.5);
          margin-bottom: pxToVW(13);
        }

        .company-name {
          margin-bottom: pxToVW(15);
        }

        .location,
        .information {
          margin-bottom: pxToVW(15);

          .desc {
            font-size: pxToVW(10);
          }
        }

        .information {
          li {
            height: pxToVW(34);
            padding: pxToVW(6) pxToVW(10);
            font-size: pxToVW(13);
            border-radius: pxToVW(10);
            margin-right: pxToVW(10);
          }
        }
      }

      .row-right {
        float: none;
        margin-top: pxToVW(10);
        display: flex;
        justify-content: flex-end;

        img {
          max-width: pxToVW(18);
        }
      }
    }
  }


  .wrapper-pagination {

    .pagination {
      margin-top: pxToVW(50);

      .page-item {
        height: pxToVW(32);
        min-height: 26px;
        min-width: 32px;
        font-size: pxToVW(15);
        border: solid pxToVW(1) $bg-main;

        &:first-child {
          border-top-left-radius: pxToVW(6);
          border-bottom-left-radius: pxToVW(6);
        }

        &:last-child {
          border-top-right-radius: pxToVW(6);
          border-bottom-right-radius: pxToVW(6);
        }

        a {
          font-size: pxToVW(15);
          padding: pxToVW(5) pxToVW(9);
        }
      }
    }
  }

  .custom-container {
    padding-left: pxToVW(23);
    padding-right: pxToVW(23);
  }

  .detail {
    .detail-top {
      padding: pxToVW(13) pxToVW(23);

      .detail-title {
        font-size: pxToVW(15);
        max-width: pxToVW(350);
      }

      ul {
        margin-top: pxToVW(10);

        li {
          font-size: pxToVW(15);

          &.sub-title {
            max-width: pxToVW(150);
          }
        }

        .line {
          padding: 0 pxToVW(3);
        }
      }
    }

    .content-detail {
      padding: pxToVW(20) 0;

      p {
        font-size: pxToVW(15);
        margin-bottom: pxToVW(10);
      }

      span {
        font-size: pxToVW(12);
        margin-bottom: pxToVW(10);
        line-height: 1.4;
      }
    }

    .recent-post {
      margin-top: pxToVW(40);

      h3 {
        font-size: pxToVW(18);
        padding-bottom: pxToVW(10);
        border-bottom: pxToVW(2) solid $bg-main;
        margin-bottom: pxToVW(15);
      }

      ul {
        li {
          font-size: pxToVW(14);
          margin-bottom: pxToVW(8);
        }
      }
    }

    .list-category {
      border-radius: pxToVW(6);
      border: solid pxToVW(1) $bg-main;
      margin-left: 0;
      margin-top: pxToVW(50);

      h3 {
        padding: pxToVW(10) pxToVW(15);
        font-size: pxToVW(18);
        border-top-left-radius: pxToVW(6);
        border-top-right-radius: pxToVW(6);
      }

      ul {
        padding: pxToVW(10) pxToVW(15);

        li {
          padding: pxToVW(10) 0;
          font-size: pxToVW(15);
        }
      }
    }
  }
}